@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Basis Grotesque Pro Bold';
  src: url('/Basis Grotesque Pro Bold.woff') format('woff'); /* Older Browsers */
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Optional: Controls how a font is displayed when loading */
}


body {
  margin: 0;
  font-family: Basis Grotesque Pro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



